@using Containers;
@inject ActiveContainer ActiveContainer;
@inject StateContainer StateContainer;
@page "/activegame"
<PageTitle>Active Game</PageTitle>

<h1>Hello Don</h1>
@{

    switch (StateContainer.GameStatus )
    { 
        case GameStatus.PreStart:
            <PreStart/>
        break;
        case GameStatus.NoRunningGame:
            <NoRunningGame/>
        break;
        case GameStatus.Started:
            <RunningGame />
            break;
        case GameStatus.Unknown:
            default:
            <p> Unknown state go to <a href="/"> home</a> and try again. If problems persists hard reload browser </p>
            break;
    }
}

@code {
    protected override void OnInitialized()
    {
        StateContainer.GameStatusChanged += StateHasChanged;
    }  
}

