@using Containers;
@using SharedClassLibrary;
@using Client;
@using Microsoft.AspNetCore.Components.QuickGrid
@using SharedClassLibrary.MessageStrings;
@using System.Collections.ObjectModel;
@inject DonBlazor.Containers.ActiveContainer ActiveContainer;


@page "/activegame"

<PageTitle>Active Game</PageTitle>

<h1>Welcome Don</h1>

Welcome to your game.
<br />
@ActiveContainer.GameMaster.Game.Name;
<br />

<ListOfCharacters></ListOfCharacters>

<AddNpcButton></AddNpcButton>

<button @onclick="StartGame"> Start Game  </button>


@code {

    protected override void OnInitialized()
    {
        ActiveContainer.CharactersChanged += StateHasChanged;
        ActiveContainer.CharactersChanged += UpdateOurList;
    }

    private async void StartGame()
    {
        Game thisGame = ActiveContainer.GameMaster.Game;
        GameMaster thisMaster = ActiveContainer.GameMaster;

        await  ActiveContainer.Hub.Send<StartGameMessage>(new StartGameMessage(ActiveContainer.GameMaster.Game.Name) {  });

        string queueJson = thisMaster.Queue.TypeToJson();
        string happeningsJson = (new List<string> { "Noget", "skete" }).TypeToJson();

        await ActiveContainer.Hub.Send(new NewTurnMessage(thisGame.Name, thisMaster.Queue, new List<string> { "Noget", "skete"}));
    }

    private void UpdateOurList()
    {
        
    }

    private void IndicateTurn()
    {


     // take from queue and find connectionId    
    
    }

}

