@using Containers;
@using SharedClassLibrary;
@using Client;
@using Microsoft.AspNetCore.Components.QuickGrid
@using SharedClassLibrary.MessageStrings;
@using System.Collections.ObjectModel;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Net;
@inject DonBlazor.Containers.ActiveContainer ActiveContainer;
@inject DonBlazor.Containers.StateContainer StateContainer;
@inject NavigationManager Navigation;


@page "/activegame"

<PageTitle>Active Game</PageTitle>

<h1>Hello Don</h1>
@{

    switch (StateContainer.GameStatus )
    { 
        case GameStatus.PreStart:
            <PreStart/>
        break;
        case GameStatus.NoRunningGame:
            <NoRunningGame/>
        break;
        case GameStatus.Started:
            <RunningGame />
        break;



    }

}






@code {

    protected override void OnInitialized()
    {
        ActiveContainer.CharactersChanged += StateHasChanged;
        StateContainer.GameStatusChanged += StateHasChanged;
    }

    

    private void IndicateTurn()
    {
        // take from queue and find connectionId
    }

}

