@using Containers;
@using SharedClassLibrary;
@using Client;
@using Microsoft.AspNetCore.Components.QuickGrid
@using SharedClassLibrary.MessageStrings;

@page "/activegame"

<PageTitle>Active Game</PageTitle>

<h1>Welcome Don</h1>

Welcome to your game. 

@if (_activeGame.AllCharacters.Count > 0)
{
    <br />
    @_activeGame.Name
    <br />

    <QuickGrid Items="@_activeGame.AllCharacters.AsQueryable()">
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
    </QuickGrid>
    <br />

} else {
    <p>No characters in the game</p>
}

<button @onclick="StartGame"> Start Game  </button>


@code {
    private ActiveGameContainer _activeGame = ActiveGameContainer.GetGameInstance;


    private async void StartGame()
    {
        var gameMaster = ActiveGameMasterContainer.GetGameMasterInstance;
        await gameMaster.Hub.Send<StartGameMessage>(new StartGameMessage(gameMaster.Game.Name) {  }); 
    }

    private void IndicateTurn()
    {


     // take from queue and find connectionId    
    
    }

}

