@using Containers;
@using SharedClassLibrary;
@using Client;
@using Microsoft.AspNetCore.Components.QuickGrid
@using SharedClassLibrary.MessageStrings;
@using DonBlazor.Components;
@inject DonBlazor.Containers.ActiveGameContainer _activeGame;

@page "/activegame"

<PageTitle>Active Game</PageTitle>

<h1>Welcome Don</h1>

Welcome to your game.
<br />
@_activeGame.Name
<br />

<ListOfCharacters listToShow="_activeGame.AllCharacters"></ListOfCharacters>

@if (_activeGame.AllCharacters.Count > 0)
{
    <QuickGrid Items="@_activeGame.AllCharacters.AsQueryable()">
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
    </QuickGrid>
    <br />

} else {
    <p>No characters in the game</p>
}

<AddNpcButton></AddNpcButton>

<button @onclick="StartGame"> Start Game  </button>


@code {
    //private ActiveGameContainer _activeGame;
    ActiveGameMasterContainer? _activeGameMaster;


    protected override void OnInitialized()
    {
      //  _activeGame = ActiveGameContainer.GetGameInstance;
        _activeGameMaster = ActiveGameMasterContainer.GetGameMasterInstance;
    }



    private async void StartGame()
    {
        var gameMaster = ActiveGameMasterContainer.GetGameMasterInstance;
        await gameMaster.Hub.Send<StartGameMessage>(new StartGameMessage(gameMaster.Game.Name) {  }); 
    }

    

    private void IndicateTurn()
    {


     // take from queue and find connectionId    
    
    }

}

