@page "/createnewgame"
@using Models;
@using SharedClassLibrary;
@using Containers;
@using System.Text;
@using SharedClassLibrary.MessageStrings;
@inject NavigationManager Navigation
@inject ActiveContainer ActiveContainer;

<PageTitle>Create New Game</PageTitle>

<h1>Welcome Don!</h1>

<p> Game Name </p>
<input placeholder="Give the game a name" @bind="gameName" />

<br />

<button @onclick="CreateGame" >Create Game</button>



@code{

    private string? playerName;
    private string? gameName;
    private StringBuilder creationStatus = new StringBuilder("");


    private async void CreateGame()
    {
        if (!String.IsNullOrEmpty(gameName)) {
            ActiveContainer.GameMaster.Game.Name = gameName;
            var hubStatus = await ActiveContainer.SetupHub(gameName);
            if (hubStatus)
            {
                await ActiveContainer.Hub.Send(new FileUpdateMessage(gameName));
                Navigation.NavigateTo("/activegame");
            }
            else
            {
                WarnOfSomethingWrong("Failed to connect to hub");
            }
        }
        else {
            WarnOfSomethingWrong("Game must have a name");
        }

        
    }

    private void WarnOfSomethingWrong(string message) 
    {
        // MAKE SOME KIND OF ALERT
    }

}