@using SharedClassLibrary
@using SharedClassLibrary.MessageStrings
@inject Containers.ActiveContainer ActiveContainer;

<h3>DonActionBar</h3>

<button @onclick="PressedEndTurn"> End Turn</button>

@if (ActiveContainer.Game.CharacterToAct is Npc)
{
    <DonMover/>
    <DonActions/>
}

@code {

    private async void PressedEndTurn()
    {
        ActiveContainer.GameMaster.EndTurn();
        ActiveContainer.NotifyQueueHasChanged();
        ActiveContainer.NotifyCurrentCharacterChanged();
        await ActiveContainer.Hub.Send(new NewTurnMessage(ActiveContainer.GameMaster.Game.Name, ActiveContainer.GameMaster.Queue, new List<string> { ActiveContainer.GameMaster.Game.CharacterToAct.Name, " - Turn To Act!"}));
    }

}
