html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
color: green;
}

.navbar-kas{
    background-color: whitesmoke;
    font: large;
    display: flex;
    flex-flow: row nowrap;
}

#navBarLogo{
    max-height: 100px;
    max-width: 33px;
}

.vertical{
    display: flex;
    flex-flow: column nowrap;
}

.nav-bar-container-fluid {
    background-color: green;
}

.navbar-toggler{
    display: flex;
    flex-flow: row nowrap;
}



